.cont {



  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;
}


.btn {
  text-decoration: underline;
  color: red;
  cursor: pointer;

}

.main {
  max-height: 50vh;


  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;

}

.para {
  margin: 0px auto;
  padding: 1px 10px;
  text-align: center;
}

.para h2 {
  font-size: 1.7rem;
}

.h1 {
  text-align: center;
  color: rgb(76, 76, 159);
  font-size: 2.8rem;
  text-shadow: 1px 0px 1px blue;

}



/* navabr */

.bar {
  justify-content: space-around;

  display: flex;


}

.bar li {
  color: rgb(65, 60, 60);
  text-shadow: 1px 0px 1px black;
  list-style: none;
  font-size: 1.5rem;
  font-weight: bold;


}



/* blog */

.pd {

  margin: 2px 10px;
  text-align: center;

}

.po {
  text-align: center;
  cursor: pointer;
}

.bhed {
  text-align: center;
  text-decoration: underline;
  font-size: 2rem;
  color: rgb(234, 126, 126);
}

/* home page + navbar */

@media only screen and (min-width:350px) and (max-width: 600px) {
  .bar {

    padding: 0;

    margin: 0;


  }

  .bar li {
    font-size: 1rem;
  }

  .h1 {
    font-size: 1.5rem;
  }

  .para {


    text-align: center;
    padding: 1px 2px;



  }

  .para h2 {

    font-size: 1.2rem;
  }

  .para p {

    font-size: 0.8rem;

  }
}

@media only screen and (max-width:350px) {
  .bar {

    padding: 0;

    margin: 0;


  }
  

  .bar li {
    font-size: 0.8rem;
  }

  .h1 {
    font-size: 1.4rem;
  }

  .para {


    text-align: center;
    padding: 1px 2px;



  }

  .para h2 {

    font-size: 1.2rem;
  }

  .para p {
    font-size: 0.8rem;
  }

}
/* for blog */
@media only screen and (max-width:350px) {
  .bhed{
    font-size: 1.7rem;
  }
  .po{
    text-align: center;
  }
}